@model WebApplication3.DataBase.DbModel.Country
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="Addcountry">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Country Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
    
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>