@model Employee_Model.CustomeModel.CustomePaswword


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>


<form method="post" asp-action="Editpassword" asp-controller="Home" >
    <input type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Id">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label opswd">Enter Your current password</label>
        <input type="password" asp-for="UserPswd" class="form-control data" id="exampleInputEmail1 opswd" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
        <span class="text-danger error"></span>
    </div>
   
    <div class="mb-3 pswdshow">
        <label for="exampleInputEmail1" class="form-label opswd">Enter Your new password</label>
        <input type="password" asp-for="newPswd" class="form-control data" id="exampleInputEmail1 opswd" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
        <span class="text-danger" asp-validation-for="newPswd"></span>

        <label for="exampleInputEmail1" class="form-label opswd">Enter Your confirm password</label>
        <input type="password" asp-for="ConfirmPswd" class="form-control data" id="exampleInputEmail1 opswd" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text" ></div>
        <span class="text-danger" asp-validation-for="ConfirmPswd"></span>
    </div>

  


    <button type="submit" class="btn btn-primary">Submit</button>
</form>



@*<script>
 $(document).ready(function(){

        $(".data").keypress(function () {
            console.log($(".data").val())
         
            if ($(".data").val() == "@ViewBag.pswd") {
                $(".error").html("")

            }
            else{
                $(".error").html("Enter Valid pswd")
            }
        })



  
 });
    </script>*@

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>