@model Employee_Model.Models.Employee;

<div class="container">
    <form method="post" asp-action="AddEdit" asp-controller="Employee">
        <input type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Emplooyeid">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">EmployeeName</label>
            <input type="text" asp-for="EmployeeName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Emailid</label>
            <input type="email" asp-for="Emailid" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ContactNo</label>
            <input type="number" asp-for="ContactNo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address</label>
            <input type="text" asp-for="EmpAddress" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        </div>

        <div class="mb-3">
            <select class="form-select" asp-for="Departmentid" asp-items="@ViewBag.DepartmentList"></select>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>